*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild


###########################
########## MacOs ##########
###########################
.DS_Store

###########################
########## IDEA ###########
###########################
.idea
*.iml

###########################
###### Android Studio #####
###########################
captures
*.li
*.hprof
*.trace
sh.exe.stackdump

###########################
########## Java ###########
###########################
.classpath
.project

###########################
######### Gradle ##########
###########################
.gradle
build
local.properties

###########################
######### Fabric ##########
###########################
fabric.properties
*fabric*.txt

###########################
########## Other ##########
###########################
*.sh
paperwork.json