<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.livetyping.activitybinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BinderExampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.livetyping.activitybinder.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SocialActivity" />
        <activity android:name=".PermissionExampleActivity" />

        <!--Facebook-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--Instagram-->
        <meta-data
            android:name="com.nikola.jakshic.instagramauth.ClientId"
            android:value="99cc4be19d2449e6897c00089b1b0304" />

        <meta-data
            android:name="com.nikola.jakshic.instagramauth.RedirectUri"
            android:value="https://livetyping.ru/" />


    </application>

</manifest>